<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthdate %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= person.bio %>
  </p>

</div>
